{% extends 'base.html.twig' %}

{% block content %}
   <div class="row">
        <div class="col-md-4">
            {{form_start(myform,{'attr': {'novalidate': 'novalidate'}})}}
          
            {{form_widget(myform)}}
            
             {{form_widget(myform.deviceCategory)}} 
        
            {{ form_rest(myform) }}
            
             <div class="form-group">
        <input class="btn btn-default" type="submit" value="ثبت" />
             <a class="btn btn-success" href="{{path("add_device_category")}}" role="button">افزودن دسته</a>
    </div>
            {{form_end(myform)}}
        </div>
    </div>
                <div class="row">
        <div class="col-md-6">
            <table class="tableData display" cellspacing="0" width="100%">
                  <thead>
                      <tr>
                          <th>name</th>
                          <th>model</th>
                          <th>stock</th>
                          <th>edit</th>
                      </tr>
                  </thead>
                  <tbody>
                {% for device in devices %}
                    <tr>
                        <td>{{device.name}}</td>
                        <td>{{device.model}}</td>
                        <td>{{device.stock}}</td>
                     
                        <td><a href="{{path("edit_device",{id:device.id})}}">edit</a></td>
                    </tr>
                {% endfor %}
                  </tbody>
            </table>
        </div>
    </div>
{% endblock %}

