{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-success" href="{{path("add_service")}}" role="button">افزودن</a>
         </div>
    </div>
            <br>
    <div class="row">
        <div class="col-md-9">
               <table class="tableData display" cellspacing="0" width="100%">
                  <thead>
                      <tr>
                         <th>serviceNo</th>
                          <th>hospital</th>
                          <th>device</th>
                          <th>edit</th>
                      </tr>
                  </thead>
                  <tbody>
                {% for service in services %}
                    <tr>
                           <td>{{service.serviceNo}}</td>
                        <td>{{service.hospital.name}} - {{service.hospital.city}}</td>
                        <td>{{service.device.name}} - {{service.device.model}}</td>
                     
                        <td><a href="{{path("edit_service",{id:service.id})}}">edit</a></td>
                    </tr>
                {% endfor %}
                  </tbody>
            </table>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}
